@font-face {
  font-family: "SeptemberMedium";
  src: url("../fonts/septembermedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SeptemberBold";
  src: url("../fonts/septemberbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "SeptemberHeavy";
  src: url("../fonts/September W00 Heavy.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}