@media screen and (max-width: 700px) {
  .kart-event-container{
    display: flex;

    .kart-event {
      flex-direction: column;
      margin-right: 10px;
      min-width: calc(50% - 55px);
      >div{
        margin-bottom: 35px;
      }
    }

    .kart-info{
      flex-direction: column;
      text-align: center;
    }

    .kart-explore-btn{
      margin-bottom: 0 !important;
    }
  }
}

@media screen and (max-width: 460px) {
  .kart-event-container{
    display: block;
  }
}
